@import 
url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

@font-face {
  font-family: 'SpoqaHanSansNeo-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'yg-jalnan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@media (min-width: 1920px) {
  body {width: 1680px;}
}

@media (max-width: 1919px) {
  body {width: 1420px;}
}

@media (max-width: 1400px) {
  body {
    width: 1024px;
  }
}


:root {
  --font-body: 'NanumSquare';
  --font-title: 'SpoqaHanSansNeo-Regular';
  --font-logo: 'yg-jalnan';
}


html {
  background: #080e1d;
  width: 100%;
  display: flex;
  justify-content: center;
}

body {
  margin: 0;
  padding: 0px 20px;
  font-family: var(--font-body);
  font-size: 16px;
  line-height: 1.5rem;
  color: #3A3D3E;
  -ms-overflow-style: none;

}

::-webkit-scrollbar { display: none; }

.title {
  font-family: var(--font-title);
  font-size: 30px;
}